<h3># of successful balance checks: <%= @count_of_successful_messages %><h3>
<h3>By week:</h3>
<ul>
<% @successful_messages_by_week.each_pair do |k,v| %>
  <li><%= "#{k.strftime("%b %d")}: #{v}" %></li>
<% end %>
</ul>
